<div class="row">
    <div class="col-12">
        <input type="text" class="form-control" placeholder="Search Worker" (keyup)="search(busqueda.value)" #busqueda>
    </div>
</div>
<div class="mx-auto alert alert-danger text-center my-4" *ngIf="error">
    <h3>Error: User not found</h3>
</div>
<div class="container">
    <div class="row my-5 mx-5 px-5" *ngIf="!buscando && !error">
        <div class="col-12 px-5">
            <div class="mx-auto card px-5">
                <img src="{{resultado.avatar}}" alt="Profile picture" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{resultado.first_name}} {{resultado.last_name}}</h5>
                    <p class="card-text">{{resultado.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>